// Use Compass ('cause it rocks!)
@import "compass";

// Variables

// Margins & Padding
$xlg-pd: 80px;
$lrg-pd: 45px;
$med-pd: 35px;
$sml-pd: 20px;
$lrg-vert-pd: 50px;
$sml-vert-pd: 30px;

// Colors
$black: #333;
$white: #FFF;
$green: rgb(97, 185, 135);
$fb: rgb(82, 125, 188);
$twitter: rgb(104, 205, 239);
$gPlus: rgb(77, 79, 84);

// Fonts
$headFont: 'Gill Sans', sans-serif;

@mixin head-font($weight) {
    font-family: $headFont;
    font-weight: $weight;
}
