// Base - imports for all mixins + global project variables
html, body {
    box-sizing: border-box;
    width: 100%;
}

body {
    @include head-font(300);
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
    color: $black;
}

p {
    margin-top: 0;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $black;
    font-size: 1em;
    padding: ($sml-pd/2) $sml-pd;

    &:first-of-type {
        margin-right: $lrg-pd;
    }
}

.email-input {
    width: 35%;

    @media (max-width: $max-mobile) {
        margin-bottom: $sml-pd;
        width: 100%;
    }
}

.full-width {
    width: 100%;
}

.fb-link {
    color: $fb;
}

.twitter-link {
    color: $twitter;
}

.gPlus-link {
    color: $gPlus;
}

.mobile-push {
    @media (max-width: $max-mobile) {
        margin-top: $med-pd;
    }
}

.bg-cover {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
