// Base - imports for all mixins + global project variables
html, body {
    box-sizing: border-box;
    width: 100%;
}

body {
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
}
