h1,h2,h3,h4,button {
    @include head-font(300);
    line-height: 1em;
    margin: 0 0 0.5em 0;

    strong {
        font-weight: 400;
    }
}

button {
    background: none;
    border: 2px solid $white;
    border-radius: 1.429em;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0.35em 1.10em;
}

.button-row {
    padding-top: $sml-pd;
}

header {
    background-image: url('../img/background.jpg');
    background-size: cover;
    color: $white;
    padding-bottom: 3.5em;

        a {
            color: $white;
            font-size: 1.25em;
            @include head-font(300);
        }

        h1 {
            @include head-font(400);
        }

        section {
            margin: 6.786em 0;
            text-align: center;

            button:first-child {
                margin-right: 0.5em;
            }
        }
}

#logo {
    background-image: url('../img/UXU-Logo.svg');
    background-repeat: no-repeat;
    background-size: 84px 29px;
    display: inline-block;
    height: 37px;
    margin: $sml-pd;
    width: 105px;
}

nav {
    float: right;
    text-align: right;
    width: 60%;

        li {
            display: inline-block;
            margin-right: $lrg-pd;

                &:last-child {
                    margin-right: $med-pd;
                }

                @media (max-width: 600px) {
                    display: block;
                    margin-right: $med-pd;
                }
        }
}

.full-block {
    padding: $lrg-vert-pd $xlg-pd;

    &.split {
        padding: $sml-vert-pd $med-pd;
    }

    h3 {
        text-align: center;
    }

    .column {
        width: 49%; // should be 50%?
        padding: $med-pd $lrg-pd;
        display: inline-block;

        @media (max-width: 600px) {
            width: 100%;
        }

        .column-block {
            margin-bottom: 0;

            &:first-child {
                margin-bottom: $lrg-vert-pd;
            }

            h4 {
                margin-bottom: $sml-pd;
            }

            p {
                margin: 0;
            }
        }
    }
}

.social-block {
    background: $black;
    padding: 2em;
}

.full-img {
    width: 100%;
    height: auto;
}
