h1,h2,h3,h4,button {
    @include head-font(300);
    line-height: 1em;
    margin: 0 0 0.5em 0;

    strong {
        font-weight: 400;
    }
}

.button-row {
    padding-top: $sml-pd;

    button {
        background: none;
        border: 2px solid $white;
        border-radius: 1.429em;
        font-size: 1.5em;
        font-weight: 300;
        padding: 0.35em 1.10em;
    }
}

header {
    @extend .bg-cover;
    color: $white;
    padding-bottom: 3.5em;

        a {
            color: $white;
            font-size: 1.25em;
            @include head-font(300);
        }

        h1 {
            @include head-font(400);
        }

        section {
            margin: 6.786em 0;
            text-align: center;

            button:first-child {
                margin-right: 0.5em;
            }
        }
}

#logo {
    background-image: url('../img/UXU-Logo.svg');
    background-repeat: no-repeat;
    background-size: 84px 29px;
    display: inline-block;
    height: 37px;
    margin: $sml-pd;
    width: 105px;
}

nav {
    float: right;
    text-align: right;
    width: 60%;

        li {
            display: inline-block;
            margin-right: $lrg-pd;

                &:last-child {
                    margin-right: $med-pd;
                }

                @media (max-width: $max-mobile) {
                    display: block;
                    margin-right: $med-pd;
                }
        }
}

.full-block {
    padding: $lrg-vert-pd $xlg-pd;
    max-width: 1200px;
    margin: 0 auto;

    &.crown {
        margin-top: 25px;
    }

    &.split {
        padding: $sml-vert-pd $med-pd;

        .column {
            width: 49%; // should be 50%?
            padding: $med-pd $lrg-pd;
            display: inline-block;
            vertical-align: top;

            &.no-rt-pad {
                @media (min-width: $min-mobile) {
                    padding-right: 0;
                }
            }

            @media (max-width: $max-mobile) {
                padding: 0 $sml-pd;
                width: 100%;

                &:first-of-type {
                    padding-top: $med-pd;
                }
            }

            .column-block {
                margin-bottom: $lrg-vert-pd;

                @media (min-width: 601px) {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                h4 {
                    margin-bottom: $sml-pd;
                }

                p {
                    margin: 0;
                }
            }

            &:last-child .column-block:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .half {
        width: 40%;
        margin: 0 auto;
    }

    h3 {
        text-align: center;
    }
}

.social-block {
    @extend .bg-cover;
    color: $white;
    padding: $lrg-vert-pd $sml-pd;

    .column {
        text-align: center;
    }

    .social-link {
        font-size: 5em;
        line-height: 1em;
        position: relative;

        &:before {
            margin-right: 0.25em;
            position: relative;
            z-index: 1;
        }

        &:after {
            background: $white;
            content: '';
            height: 40px;
            position: absolute;
            left: 10px;
            top: 20px;
            width: 50px;
            z-index: 0;
        }

        &:last-child:before {
            margin-right: 0em;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.block-img {
    width: 100%;
    height: auto;

    &.block-img-med {
        width: 90%;

        @media (max-width: $max-mobile) {
            width: 100%;
        }
    }
}
