h1,h2,h3 {
    font-family: $headFont;
    font-weight: 300;
    margin: 0;

    strong {
        font-weight: 400;
    }
}

button {
    background: none;
    padding: 0.357em 0.714em;
    border: 2px solid $white;
    border-radius: 1.429em;
}

header {
    background-image: url('../img/background.jpg');
    background-size: cover;
    color: $white;
    padding-bottom: 2.571em;

        section {
            margin: 1.786em 0;
            text-align: center;

            button:first-child {
                margin-right: 1.429em;
            }
        }
}

.full-block {
    padding: $lrg-vert-pd $xlg-pd;

    &.split {
        padding: $sml-vert-pd $med-pd;
    }

    h3 {
        text-align: center;
    }

    .column {
        width: 49%; // should be 50%?
        padding: $med-pd $lrg-pd;
        display: inline-block;
    }
}

.social-block {
    background: $black;
    padding: 2em;
}
